.hero {
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 600px;
  background-image: linear-gradient(pink, rgb(165, 216, 117));
}
.lorem {
  position: relative;
  height: 400px;
  width: 250px;
  font-weight: 400;
}
.image {
  position: relative;
  width: 350px;
  border-radius: 40%;
}
